div.us {
  margin-top: 5%;
  margin-left: 10%; 
  float: left;  
  padding: 10px; 
  width: 45%; 
  height: auto; 
  background-color: #ffffb3; 
  font-family: Arial, sans-serif;
}

img.logo{
	display: block;
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 300px;
}

hr.line{
	height: 10px; 
	color: gray; 
	background-color: gray;
}
ul.bar {
  list-style-type: none;
	margin: 0; 
	padding: 0; 
	overflow: hidden; 
	background-color: #ffe699;
  border-radius: 50px;
}

#link {
	float: left;
}

#linkin{
  font-family: serif, Helvetica;
  font-size: 18px;
  display: block;
	color: black; 
	text-align: center; 
	padding: 10px 48.3px; 
	text-decoration: none;
  cursor: pointer;
}

#cart {
	float: right;
}

li a:hover{
	background-color: gold;
  font-weight: bold;
}

body {
  font-family: Arial, Helvetica, sans-serif;
box-sizing: border-box;
}

.cartbox {
  border : 2px solid black;
  width: 30%;
  height: 50%;
  margin-top: 3%;
  margin-left: 10%;
  margin-bottom: 3%;
}

.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
  border-radius: 50px;
  z-index: 9;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: #ffe699;
  border: 3px solid white;
  border-radius: 5px;
}

.form-container input {
  font-family: serif, Helvetica;
  width: 100%;
  border: none;
  background: ##ffffe6;
  resize: none;
  border-radius: 5px;
}

/* Full-width textarea */
.form-container textarea {
  font-family: serif, Helvetica;
  width: 100%;
  margin: 5px 0 22px 0;
  border: none;
  background: ##ffffe6;
  resize: none;
  min-height: 200px;
  border-radius: 5px;
}

/* When the textarea gets focus, do something */
.form-container .input:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #fff2e6;
  padding: 5px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
  border-radius: 50px;
}

.form-container .btn a{
  text-decoration: none;
  color: black;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: #ffcc99;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
  border-radius: 10px;
}

#myaudio {
 width: 10%;
 height: 20px;
}​

* {
  box-sizing: border-box;
}

.rowang {
  display: -ms-flexbox; 
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
  margin-bottom: 3%;
}

.col-25 {
  -ms-flex: 25%; 
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; 
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; 
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.containercart {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label.cart {
  margin-bottom: 10px;
  display: block;
}

.icon-containercart {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btncart {
  background-color: #04AA6D;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btncart:hover {
  background-color: #45a049;
}

a.cart {
  color: #2196F3;
}

hr.cart {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}


@media (max-width: 800px) {
  .rowang {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
} 

.bottomline {
  border-bottom: 1pt solid #e0e0d1;
}

.feedback {
  padding: 0.8%; 
  border-radius: 50px; 
  text-decoration: none; 
  color: black; 
  border: 1px solid black; 
  background-color: #ffd9b3;
  border: none;
  font-family: serif, Helvetica;
}

.feedback:hover{
  background-color: #ffcc66;
  font-weight: bold;
  color: black;
}

.feedback:focus {
  cursor: pointer;
  opacity: 1;
}

.slides {font-family: Verdana, sans-serif; margin:0}
img.gmbr {vertical-align: middle;}
.mySlides {display: none}
div.tablehome {box-sizing: border-box}

.slideshowcontainer {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dotdot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 1s ease;
}

.active{
  background-color: #717171;
}


/* Fading animation */
.faded {
  -webkit-animation-name: faded;
  -webkit-animation-duration: 1.5s;
  animation-name: faded;
  animation-duration: 1.5s;
}

@-webkit-keyframeshome faded {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes faded {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen , (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

h2.table{
  font-family: "Lucida Console", "Courier New", monospace;
}
.rowin {
  margin-left:5px;
  margin-right:5px;
}
  
.columnin {
  width: 100%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.rowin::after {
  content: "";
  clear: both;
  display: table;
}

table.august {
   font-family: "Trebuchet MS", Helvetica, sans-serif;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}
th.th{
  font-size: 20px;
}
th.th, td.td {
  text-align: left;
  padding: 16px;
}

tr.tr:nth-child(even) {
  background-color: #f2f2f2;
}

/*--------------Cart Page--------------*/

.contain,
.contain-products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 100px;;
}


.contain-products {
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
}

.contain-products ion-icon {
    font-size: 25px;
    color: blue;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.product-header {
    width: 150%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgray;
    margin: 0 auto;
}

.product-title {
    width: 45%;
}

.pricing {
    width: 15%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.quantity {
    width: 30%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.total {
    width: 10%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.product {
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
}

.product ion-icon {
    cursor: pointer;
    
}

.products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.products img {
    width: 75px;
}

.basketTotalContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
}

.basketTotalTitle {
    width: 30%;
}

.basketTotal {
    width: 10%;
}

@media(max-width: 500px) {
    nav h2 {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;;
    }

    .sm-hide {
        display: none;;
    }

    .products,
    .product-header {
        justify-content: center;
    }

    .basketTotalContainer {
        padding-right: 8%;
    }
}
